<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="TDEOutputPlugin"
   iconfile="tde.png"
   description="Tableau Data Extract Output"
   tooltip="This step outputs to a Tableau Data Extract File"
   category="Transform"
   classname="org.openbi.kettle.plugins.tableauDataExtract.TDEOutputMeta">
   <libraries>
   <library name="jna.jar"/>
   <library name="dataextract.jar"/>
    <library name="TDEOutputPlugin.jar"/>
   </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Tableau Data Extract Output</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This step outputs to a Tableau Data Extract File</tooltip>
   </localized_tooltip>
   
</plugin>
